.product {
	width: 100%;
	position: relative;
	display: block;
	float: left;
	visibility: hidden;
	.product__wrap {
		max-width: $container;
		margin: 0 auto;
		display: flex;
		@media screen and (max-width: $breakpoint__tab) {
			flex-direction: column-reverse;
		}
	}
	.product__slider {
		padding: 0 30px;
		flex-basis: 50%;
		float: left;
		position: relative;
		flex: 1 !important;
		overflow: hidden;
		@media screen and (max-width: $breakpoint__tab) {
			flex-basis: 100%;
		}
	}
	.product__details {
		padding: 30px;
		float: left;
		flex-basis: 50%;
		position: relative;
		flex: 1 !important;
		@media screen and (max-width: $breakpoint__tab-wide) {
			padding-left: 0;
		}
		@media screen and (max-width: $breakpoint__tab) {
			flex-basis: 100%;
			padding-top: 0;
			padding-left: 30px;
		}
	}
}
.product__slider {
	.slick-list {
		height: 0;
		padding-bottom: 100%; //force to square shape
	    cursor: grab;
	    border-radius: 3px;
	    &:after {
	    	height: 0;
	    	padding-bottom: 100%;
	    	content: "";
	    }
	}
	.slick-dots {
		overflow: hidden;
		padding-left: 0;
		margin: 0;
		margin-top: $slider__gutter;
		@media screen and (max-width: $breakpoint__tab-wide) {
			margin-top: calc(#{$slider__gutter} / 2);
		}
		li {
		    list-style: none;
		    float: left;
		    display: inline-block;
		    margin-right: $slider__gutter;
		    position: relative;
		    cursor: pointer;
		    @media screen and (max-width: $breakpoint__tab-wide) {
		    	margin-right: calc(#{$slider__gutter} / 2);
		    }
		    .product__slider-lens {
				visibility: hidden;
				opacity: 0;
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    border: 3px solid black;
			    background-color: rgba(57,158,162,0.4);
			    border-radius: 3px;
			    transition: $transition;
			}
		    &.slick-active {
				.product__slider-lens {
					visibility: visible;
					opacity: 1;
					transition: $transition
				}
		    }
		}
	}
	.product__slide {
		background-size: cover;
		border-radius: 3px;
		&:after {
			display: block;
			padding-bottom: 100%;
			content: "";
		}
	}
	.product__slider-tab {
	    width: 100px;
	    height: 100px;
	    display: block;
	    background-size: cover;
	    list-style: none;
	    border-radius: 3px;
	    @media screen and (max-width: $breakpoint__tab-wide) {
	    	width: 80px;
	    	height: 80px;
	    }
	    @media screen and (max-width: $breakpoint__mob) {
	    	width: 60px;
	    	height: 60px;
	    }
	}
}
.product__details {
	.product__title {
	  	font-size: 36px;
	  	font-family: $fontfamily;
	  	color: rgb(51, 51, 51);
	  	font-weight: bold;
	  	text-align: center;
	  	margin-bottom: 13px;
	  	@media screen and (max-width: $breakpoint__tab) {
	  		margin-top: 0;
	  	}
	  	@media screen and (max-width: $breakpoint__mob) {
	  		font-size: 24px;
	  	}
	}
	.product__price {
		font-size: 30px;
		font-family: $fontfamily;
		color: rgb(248, 0, 0);
		line-height: 1.467;
		text-align: center;
		font-weight: 300;
		margin-top: 0;
		.product__compare-price {
			font-size: 20px;
		    color: #999999;
		    text-decoration: line-through;
		    padding-left: 10px;
		}
	}
	.product__description {
	    font-size: 16px;
	  	font-family: $fontfamily;
	  	color: rgb(153, 153, 153);
	  	line-height: 1.625;
	  	text-align: center;
	  	margin: 35px 0;
	  	@media screen and (max-width: $breakpoint__mob) {
	  		font-size: 14px;
	  		margin: 25px 0;
	  	}
	}
	.product__color {
	  	font-size: 20px;
	  	font-family: $fontfamily;
	  	color: rgb(0, 0, 0);
	  	font-weight: bold;
	  	text-align: center;
	  	margin-bottom: 10px;
	  	.product__color-name {
	  		font-weight: 300;
	  	}
	}
	.product__color-select {
		border: 0;
		text-align: center;
		margin-bottom: 10px;
		input[type="radio"] {
			display: none;
		}
		label {
		    display: inline-block;
			width: 32px;
			height: 32px;
			background-color: #999;
			margin: 0px 7px;
			border-radius: 50%;
			cursor: pointer;
			position: relative;
			&#l_royal-purple {
				background-color: #4f41a0;
			}
			&#l_orange {
				background-color: #ff8b5e;
			}
			&#l_magenta {
				background-color: #ff2b99;
			}
			&#l_teal {
				background-color: #59f9ff;
			}
		}
		.product__color-label {
			transition: $transition;
			top: 0;
			&.active {
				box-shadow: 0px 4px 12px -2px rgba(0, 0, 0, 0.65);
				top: -3px;
				transition: $transition;
			}
			.product__tooltip {
			    position: absolute;
			    top: -20px;
			    visibility: hidden;
			    opacity: 0;
			    left: 50%;
			    width: auto;
			    text-align: center;
			    transform: translateX(-50%);
			    background-color: #222;
			    color: #fff;
			    padding: 6px 12px;
			    font-family: $fontfamily;
			    font-size: 14px;
			    font-weight: 300;
			    white-space: nowrap;
			    border-radius: 4px;
			    z-index: 1;
			    transition: $transition;
			    &:after {
			    	content: "";
				    display: block;
				    height: 10px;
				    width: 10px;
				    position: absolute;
				    background-color: #222;
				    transform: translateX(-50%) rotate(45deg);
				    left: 50%;
			    }
			}
			&:hover {
				.product__tooltip {
					opacity: 1;
					top: -25px;
					visibility: visible;
					transition: $transition;
				}
			}
		}
	}
	.product__in-stock {
	  	font-size: 12px;
	  	font-family: $fontfamily;
	  	color: #fff;
	  	font-weight: bold;
	  	text-transform: uppercase;
		border-radius: 3px;
  		background-color: rgb(139, 217, 27);
	  	height: 32px;
	  	display: flex;
	    flex-direction: column;
	    justify-content: center;
		width: 80px;
		text-align: center;
		margin: 0 auto;
		transition: $transition;
		&.disabled {
			background-color: #aaa;
			opacity: 0.8;
			width: 120px;
			transition: $transition;
		}
	}
	.product__quantity-select {
		border: 0;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 35px;
		@media screen and (max-width: $breakpoint__tab) {
			max-width: 500px;
			margin: 35px auto 0;
		}
		@media screen and (max-width: $breakpoint__mob) {
			flex-wrap: wrap;
			justify-content: center;
		}
		#l_qty {
		    font-size: 20px;
		    font-family: $fontfamily;
		    color: black;
		    font-weight: bold;
		    text-align: center;
		    margin-bottom: 0px;
		    align-self: center;
		}
		#n_qty {
		    background-color: #f1f1f1;
		    border: 3px solid black;
		    border-radius: 4px;
		    height: 60px;
		    margin: 15px;
		    width: 80px;
		    text-align: center;
		    font-size: 20px;
		    font-family: $fontfamily;
		    color: black;
		    font-weight: 400;
		    align-self: center;
		}
		input[type="submit"] {
			flex-basis: 100%;
			align-self: center;
			border-radius: 4px;
			height: 60px;
			border: 0;
			background-color: black;
			background: linear-gradient(to bottom, rgba(66,66,66,1) 0%, rgba(0,0,0,1) 100%);
  			font-size: 20px;
  			font-family: $fontfamily;
  			color: #fff;
  			font-weight: bold;
		  	text-align: center;
		  	cursor: pointer;
		  	flex: 3 3 auto;
		  	@media screen and (max-width: $breakpoint__mob) {
		  		margin-top: 20px;
		  		flex: 1 1 100%;
		  	}
		}
	}
}