$fontfamily: "Helvetica Neue", "Helvetica", sans-serif;
$transition: 0.25s ease-in-out;
$container: 1130px;

$breakpoint__mob: 520px;
$breakpoint__tab: 800px;
$breakpoint__tab-wide: 1024px;
$breakpoint__large: 1280px;

$color__hover: #999;
$color__header-bg: #000;

//Section Specific
$slider__gutter: 20px;